.settings {
  background-color: #1c1c1e;
  color: white;
  width: 300px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-25%, -50%);
  padding: 30px;
  border-radius: 10px;
}

.settingsTitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.lightDarkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1500px) {
  .settings {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
}
