/* GLOBAL */
*
{
    /* Position */
    margin: 0;
    padding: 0;

    /* Font */
    font-family: Montserrat, Sans-Serif;
}

/* BODY */
body
{
    /* Colour */
    background-color: black;
}

/* BUTTON AND COUNTER SECTION */
.buttonAndCounter
{
    /* Position */
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    /* Size */
    font-size: 1.5rem;
    height: 80px;
    width: 75px;

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.mainButton
{
    /* Colour */
    color: #3B82F7;
}

.counter
{
    /* Colour */
    color: white;
}